@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");

body {
	font-family: Lora, serif; 
	font-size: 14px;
	margin: 0px;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 40px;

}

h2 {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 30px;

}

a{
	text-decoration: none;
}